//My Theme Colors

$page-bg:#E2E2E2;
$dark-page-bg:#000000;

$theme-primary:  #dd005f;
$theme-primary-light:  #e53883;
$theme-primary-verylight:  #e88bb4;
$theme-primary-dark:  #7f0037;


$theme-secondary:  #1E1E1E; 
$theme-secondary-light:  #A7A6A6; 
$theme-secondary-verylight:  #E9E9E9; 
$theme-secondary-dark:  rgb(39, 39, 39); 

$theme-accent:#1E90FF;
$theme-accent-light:#6eb7ff;
$theme-accent-verylight:#bbddfe;
$theme-accent-dark:#0054a9;

/* $orange:#FF8C00;
$orange-light:#ffac46;
$orange-verylight:rgb(255, 205, 144);
$orange-dark:#e75d00; */

$pink:#FF6666;
$pink-light:#ff9b9b;
$pink-verylight:#fecece;
$pink-dark:#c31717;

$red:#D80654;  
$red-light:#ff4b8d;
$red-verylight:#ffabca;
$red-dark:#900035;

$green:#1d7149;  
$green-light:#2eb875;
$green-verylight:#52ffab;
$green-dark:#0f3925;

$dark:#323232;
$heading:#1E90FF ;
$black:black;
$white:white;
