@mixin opacity($value: 0.5, $transition:0.5) {
    opacity: $value;filter: alpha(opacity=$value*100);filter: progid:DXImageTransform.Microsoft.Alpha(opacity=#{$value*100});
    transition:$transition+s;-webkit-transition:$transition+s;-moz-transition:$transition+s;-ms-transition:$transition+s;-o-transition:$transition+s;
}
@mixin opacity-hover($value: 0.5, $transition:0.5){
    &:hover{
        filter: alpha(opacity=$value*100);filter: progid:DXImageTransform.Microsoft.Alpha(opacity=#{$value*100});opacity: $value!important;
        transition:$transition+s;-webkit-transition:$transition+s;-moz-transition:$transition+s;-ms-transition:$transition+s;-o-transition:$transition+s;
    }    
}
@mixin filter($filter-type,$filter-amount) { 
    filter: $filter-type+unquote('(#{$filter-amount})');-webkit-filter: $filter-type+unquote('(#{$filter-amount})');-moz-filter: $filter-type+unquote('(#{$filter-amount})');-ms-filter: $filter-type+unquote('(#{$filter-amount})');-o-filter: $filter-type+unquote('(#{$filter-amount})');     
}
@mixin shadow($color: rgba(0, 0, 0, 0.075), $x: 0, $y: .125rem, $blur: .25rem) {
  box-shadow: $x $y $blur $color;
}
@mixin zoom($value:1.5) {
    transform: scale($value);
    -webkit-transform: scale($value);
    -moz-transform: scale($value);
    -o-transform: scale($value);
}
@mixin transition($value:0.5) {
    -webkit-transition:$value+s;
    -moz-transition:$value+s;
    -ms-transition:$value+s;
    -o-transition:$value+s;
    transition:$value+s;
}
@mixin transform($xvalue:0, $yvalue:0) {     
    -webkit-transform: translate($xvalue, $yvalue); 
    -moz-transform: translate($xvalue, $yvalue); 
    -o-transform: translate($xvalue, $yvalue); 
    -ms-transform: translate($xvalue, $yvalue);  
    transform: translate($xvalue, $yvalue); 
}

@mixin media-breakpoint-min($width) {
      @media screen and (min-width: $width) {
        @content;
      }    
}
@mixin media-breakpoint-max($width) {
    @media screen and (max-width: $width) {
      @content;
    }    
}
@mixin media-breakpoint-min-height($height) {
    @media screen and (min-height: $height) {
      @content;
    }    
}
@mixin media-breakpoint-max-height($height) {
  @media screen and (max-height: $height) {
    @content;
  }    
}
